body {
  margin: 10px 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6{
  color: cyan;
  text-decoration: underline;
  margin: 0;
}
thead{
  background: orange;
}

table, td{
  border-collapse: collapse;
  border:solid;
  border-width: 1px;
}
td{
  padding: 4px;
}
.little{
  font-size: small;
}
.bold{
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
